.bg-dark{
    background-color: #6695c4 !important;
}

.navbar{
  font-size: 1.07em;
}

.navbar-brand{
  font-size: 1.07em;
}

p {
   color: #575c60;
}

li {
   color: #575c60;
}

.text-muted {
   color: #828a90;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
   border-color: #575c60 #575c60 #fff;
}

.nav-tabs{
    border-bottom: 1px solid #575c60;
}


.post-title{
   color: #6695c4;
}

.btn .btn-lg .btn-success .btn-primary{
   font-size:1em;
}

.badge {
  color: #fff;
  text-decoration: none;
  background-color: #6695c4;
  font-size:1em;
}

.list-inline {
  line-height: 2em;
}

.face {
  float: left;
  padding-right: 1em;
}

.btn-outline-primary{
  border-color: #6695c4;
}

.job {
  padding-top:10px;
}
