/**************** BODY ********************/
body {
  font-size:1.1em;
}

p {
   color: #575c60;
}

li {
   color: #575c60;
}

.text-muted {
   color: #828a90;
   font-size: 0.9em;
}

.post-title{
   color: #6695c4;
}

.face {
  float: left;
  padding-right: 1em;
}

.lead {
 font-size:1.2em;
}

.navbar-dark .navbar-nav .show > .nav-link, .navbar-dark .navbar-nav .active > .nav-link, .navbar-dark .navbar-nav .nav-link.show, .navbar-dark .navbar-nav .nav-link.active {
  color: #fff;
} 

/**************** NAV ********************/

.bg-dark{
    background-color: #6695c4 !important;
}

.navbar-nav .nav-link {
  font-size: 1.2em;
}

.navbar-brand  {
  font-size: 1.7em;
}

.dropdown-item {
  font-size: 1.2em;
}

.nav-tabs .nav-link.active, .nav-tabs .nav-item.show .nav-link {
   border-color: #575c60 #575c60 #fff;
}

.nav-tabs{
    border-bottom: 1px solid #575c60;
}

/**************** BUTTONS ********************/
.btn .btn-lg .btn-success .btn-primary{
   font-size:1em;
}

/**************** TAGS ********************/
.list-inline {
  line-height: 2em;
}

.badge {
  color: #fff;
  text-decoration: none;
  background-color: #6695c4;
  font-size:1em;
}

/**************** RESUME TAB ********************/
.job {
  padding-top:10px;
}

.btn-outline-primary{
  border-color: #6695c4;
}

/* --------------------RESPONSIVE DISPLAY HEADINGS--------------------------*/
@media (max-width: 575.98px) {
  .display-1 {
  font-size: 3rem;
  font-weight: 300;
  line-height: 1.0;
  }
  .display-2 {
    font-size: 2.75rem;
    font-weight: 300;
    line-height: 1.0;
  }
  .display-3 {
    font-size: 2.25rem;
    font-weight: 300;
    line-height: 1.0;
  }
  .display-4 {
    font-size: 1.75rem;
    font-weight: 300;
    line-height: 1.0;
  }
}
